html {
    background: #f3f3f3;
}

.account-wrap {
    height: 6.12rem;
    background: url(../../images/index-bg.png);
}

.account-header {
    height: 1.2rem;
    padding: 0 0.36rem;
    font-size: 14px;
    text-align: right;
    line-height: 1.2rem;
}

.account-header a {
    color: #fff;
}

[data-dpr="2"] .account-header {
    font-size: 28px;
}

[data-dpr="3"] .account-header {
    font-size: 42px;
}

.account-wrap .swiper-container {
    width: 100%;
    padding-top: 0.26rem;
}

.account-wrap .swiper-slide {
    width: 8rem;
    height: 4.26666rem;
    margin: 0 0.4rem;
    background: #fff;
    border-radius: 0.08rem;
}

.icon-tea {
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    margin: 0.76rem 0.76rem 0.68rem;
    background: url(../../images/icon-tea.png) center no-repeat;
    background-size: cover;
}

.swiper-slide .name {
    margin-top: 0.6rem;
    font-size: 14px;
    font-weight: 400;
}

[data-dpr="2"] .swiper-slide .name {
    font-size: 28px;
}

[data-dpr="3"] .swiper-slide .name {
    font-size: 42px;
}

.swiper-slide .number {
    margin-top: 0.16rem;
    color: #da022e;
}

.swiper-slide .number span {
    font-size: 45px;
}

[data-dpr="2"] .swiper-slide .number span {
    font-size: 90px;
}

[data-dpr="3"] .swiper-slide .number span {
    font-size: 135px;
}

.swiper-slide .money {
    margin-top: 0.2rem;
    color: #666666;
}

.slide-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0.24rem;
    text-align: center;
    border-top: 1px solid #ccc;
}

.slide-footer > div {
    width: 33.333%;
}

.title {
    height: 0.52rem;
    color: #cbcbcb;
    font-size: 10px;
    line-height: 0.52rem;
}

[data-dpr="2"] .title {
    font-size: 20px;
}

[data-dpr="3"] .title {
    font-size: 30px;
}

.current {
    color: #33cc00;
    font-size: 18px;
}

.cost {
    color: #666666;
    font-size: 18px;
}

.float {
    color: #ff3300;
    font-size: 18px;
}

[data-dpr="2"] .current, [data-dpr="2"] .cost, [data-dpr="2"] .float {
    font-size: 36px;
}

[data-dpr="3"] .current, [data-dpr="3"] .cost, [data-dpr="3"] .float {
    font-size: 54px;
}

.index-title {
    height: 1.04rem;
    color: #666666;
    font-size: 15px;
    line-height: 1.04rem;
    text-align: center;
    background: #fff;
    border-bottom: 1px solid #ccc;
}

[data-dpr="2"] .index-title {
    font-size: 30px;
}

[data-dpr="3"] .index-title {
    font-size: 45px;
}

.index-table {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
    border-bottom: 1px solid #ccc;
}

.index-table li {
    width: 33.3333%;
    padding: 0.4rem 0;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.index-table li.no-bb {
    border-bottom: none;
}

.index-table li:active {
    background: #fafafa;
}

li .name {
    margin-top: 0.16rem;
    color: #999;
}

.index-table li .icon-base {
    display: inline-block;
    width: 0.92rem;
    height: 0.92rem;
}

.icon-index1 {
    background: url(../../images/icon-index1.png) center no-repeat;
    background-size: cover;
}

.icon-index2 {
    background: url(../../images/icon-index2.png) center no-repeat;
    background-size: cover;
}

.icon-index3 {
    background: url(../../images/icon-index3.png) center no-repeat;
    background-size: cover;
}

.icon-index4 {
    background: url(../../images/icon-index4.png) center no-repeat;
    background-size: cover;
}

.icon-index5 {
    background: url(../../images/icon-index5.png) center no-repeat;
    background-size: cover;
}

.icon-index6 {
    background: url(../../images/icon-index6.png) center no-repeat;
    background-size: cover;
}

.icon-index7 {
    background: url(../../images/icon-index7.png) center no-repeat;
    background-size: cover;
}

.code-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 7.2rem;
    margin-left: -3.6rem;
    margin-top: -2.84rem;
    padding: 0;
    color: #20232B;
    border-radius: 10px;
    background: #fff;
    z-index: 10
}

.code-wrap .code-desc {
    padding: .48rem;
    color: #666;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    line-height: 1.5
}

[data-dpr="2"] .code-wrap .code-desc {
    font-size: 34px
}

[data-dpr="3"] .code-wrap .code-desc {
    font-size: 51px
}
.code-img{
    text-align: center;
}
.code-img img{
    width: 80%;
}
.close{
    position: absolute;
    right:0;
    top:0;
    width: 0.8rem;
    height: 0.8rem;
    color:#666;
    font-size:18px;
    font-weight: bold;
    text-align: center;
    line-height: 0.8rem;
}
[data-dpr="2"] .close{
    font-size:36px;
}
[data-dpr="3"] .close{
    font-size:54px;
}


