html{
    background: #e5e5e5;
}
.user-info{
    padding:0.48rem 0.4rem;
    border-bottom:1px solid #ccc;
}
.user-info a{
    display: block;
}
label{
    margin-right:0.24rem;
    color:#999;
}
.name,.mobile{
    font-size: 14px;
    font-weight:bold;
}
[data-dpr="2"] .name,[data-dpr="2"] .mobile{
    font-size: 28px;
}
[data-dpr="3"] .name,[data-dpr="3"] .mobile{
    font-size: 42px;
}
.address-wrap{
    margin-top:0.48rem;
}
.icon-address{
    display: inline-block;
    width: 0.64rem;
    height:0.64rem;
    margin-right:0.36rem;
    margin-top:0.14rem;
    background: url(../../images/icon-address.png) center no-repeat;
    background-size: cover;
}
.address{
    width: 6.76rem;
    color:#666;
    font-size: 14px;
    line-height: 0.48rem;
}
[data-dpr="2"] .address{
    font-size: 28px;
}
[data-dpr="3"] .address{
    font-size: 42px;
}
.icon-right{
    display: inline-block;
    width: 0.28rem;
    height:0.52rem;
    margin-top:0.24rem;
    background: url(../../images/arrow-right.png) center no-repeat;
    background-size: cover;
}
.gift-info{
    padding:0.48rem 0.4rem;
    border-bottom:1px solid #ccc;
}
.search-list .gift-info{
    padding:0;
    margin-top:0.12rem;
    background: #fff;
}
.order-info{
    padding:0.24rem 0.4rem;
    border-bottom:1px solid #ccc;
}
.order-info > div{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 0.52rem;
}
.order-info label{
    color:#999;
    width: 1.6rem;
}

.search-list .gift-info a{
    display: block;
}
.gift-package,.gift-name,.gift-money{
    font-size: 14px;
    font-weight:bold;
    line-height: 0.56rem;
}
[data-dpr="2"] .gift-package,[data-dpr="2"] .gift-name,[data-dpr="2"] .gift-money{
    font-size: 28px;
}
[data-dpr="3"] .gift-package,[data-dpr="3"] .gift-name,[data-dpr="3"] .gift-money{
    font-size: 42px;
}
.search-list .gift-name{
    padding:0.12rem 0.2rem;
    font-size: 15px;
    line-height: 0.56rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.search-list .gift-detail{
    padding:0.12rem 0.2rem 0.36rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-list .gift-money{
    color:#cc0000;
    line-height: 0.58rem;
}
[data-dpr="2"] .search-list .gift-name,[data-dpr="2"] .search-list .gift-money{
    font-size: 30px;
}
[data-dpr="3"] .search-list .gift-name,[data-dpr="3"] .search-list .gift-money{
    font-size: 45px;
}
.search-list .desc{
    color:#999;
}
.product-img{
    width: 1.6rem;
    height:1.6rem;
    margin-right:0.28rem;
    overflow: hidden;
}
.search-list .product-img{
    width: 4.933rem;
    height: 4.64rem;
    margin-right:0;
    border:1px solid #ccc;
}
.product-img img{
    width: 100%;
}
.gift-number{
    color:#999;
    line-height: 0.48rem;
}
.gift-control{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 1.12rem;
    padding:0 0.4rem;
    border-bottom:1px solid #ccc;
}
.gift-control span{
    font-size: 16px;
    font-weight:bold;
}
[data-dpr="2"] .gift-control span{
    font-size:32px;
}
[data-dpr="3"] .gift-control span{
    font-size:48px;
}
.bottom-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 1.36rem;
    width: 100%;
    padding:0 0.4rem;
    background: #fff;
    -webkit-box-shadow: 0 0 0.21333rem rgba(0,0,0,0.3);
    box-shadow: 0 0 0.21333rem rgba(0,0,0,0.3);
}
.bottom-wrap .label{
    margin-right:0.2rem;
    font-size: 15px;
    font-weight:bold;
}
[data-dpr="2"] .bottom-wrap .label{
    font-size:30px;
}
[data-dpr="3"] .bottom-wrap .label{
    font-size:45px;
}
.bottom-wrap .total-money{
    color:#cc0000;
    font-size:18px;
    font-weight: bold;
}
[data-dpr="2"] .bottom-wrap .total-money{
    font-size:36px;
}
[data-dpr="3"] .bottom-wrap .total-money{
    font-size:54px;
}
.bottom-wrap .payment{
    height: 1.36rem;
    padding:0 0.4rem;
    color:#cc0000;
    font-size:16px;
    font-weight: bold;
}
[data-dpr="2"] .bottom-wrap .payment{
    font-size:32px;
}
[data-dpr="3"] .bottom-wrap .payment{
    font-size:48px;
}
.search-box{
    position: fixed;
    left: 0;
    top:1.16rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 0.4rem;
    background:#fff;
    z-index:1;
}
.search-box span{
    width: 2rem;
    height: 1.17rem;
    color:#666666;
    font-size:15px;
    text-align: center;
    line-height: 1.16rem;
    border:none;
}
[data-dpr="2"] .search-box span{
    font-size:30px;
}
[data-dpr="3"] .search-box span{
    font-size:45px;
}
.search-box span.active{
    border-bottom:1px solid #cc0000;
}
.search-box input:active,.search-box input.active:active{
    color:#333;
    background: #eee;
}
.icon-search{
    width: 0.48rem;
    height: 0.48rem;
    background: url(../../images/icon-search.png) center no-repeat;
    background-size: cover;
}
.search-list{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    padding-top:2.32rem;
}
.fixed{
    position: fixed;
    left: 0;
    top:0;
    width: 100%;
    z-index: 10;
}
#wrapper{
    overflow:hidden;
}
.scroll{
    height: 100%;
    overflow: auto;
}
.order-state{
    padding:0.64rem 0.4rem 0.48rem;
}
.flex{
    display: flex;
    justify-content: space-between;
    height: 0.48rem;
    align-items: center;
}
.flex span:first-child{
    font-size: 16px;
    font-weight: bold;
}
[data-dpr="2"] .flex span:first-child{
    font-size:32px;
}
[data-dpr="3"] .flex span:first-child{
    font-size:48px;
}
.order-state{
    border-bottom: 1px solid #ccc;
}
.delete-order{
    padding:0.12rem;
    color:#999;
    border:1px solid #ccc;
    border-radius:0.08rem;
}
.countdown{
    margin-top:0.24rem;
    padding-left:0.32rem;
    color:#cc0000;
    line-height: 0.4rem;
    background:url(../../images/icon-clock.png) left center no-repeat;
    background-size:0.32rem 0.32rem;
}