body{background: #e5e5e5;}
.password-tip{
    position: relative;
    padding:1.16rem 0.52rem 1.6rem;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}
[data-dpr="2"] .password-tip{
    font-size: 30px;
}
[data-dpr="3"] .password-tip{
    font-size: 45px;
}
.error-tip{
    position: absolute;
    left: 0;
    bottom: 0.6rem;
    width: 100%;
    padding:0 0.52rem;
    color:#cc0000;
    font-size:12px;
    text-align: center;
}
[data-dpr="2"] .error-tip{
    font-size: 24px;
}
[data-dpr="3"] .error-tip{
    font-size: 36px;
}
.password-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 0.52rem;
}
.password-wrap li{
    width: 1.32rem;
    height: 1.32rem;
    font-size:30px;
    line-height: 1.32rem;
    text-align: center;
    background: #fafafa;
    border:1px solid #ccc;
}
.forget-password{
    margin-top:0.8rem;
    text-align: center;
}
.forget-password a{
    color:#cc0000;
    text-decoration: underline;
}
.numeric-keypad{
    position: fixed;
    left:0;
    bottom:0;
    width: 100%;
    background: #fff;
    z-index: 100;
}
.numeric-keypad td{
    width: 33.33333%;
    height: 1.44rem;
    color:#666666;
    font-size: 30px;
    text-align: center;
    border:1px solid #ccc;
}
[data-dpr="2"] .numeric-keypad td{
    font-size:60px;
}
[data-dpr="3"] .numeric-keypad td{
    font-size:90px;
}
.delete{
    background: url(../../images/icon-delete.png) center no-repeat;
    background-size:0.76rem 0.44rem;
}