html{background: #e5e5e5}
.current-hold{
    padding:0.16rem;
    text-align: center;
}
.number{
    text-align: center;
}
.number span{
    font-size: 22px;
}
[data-dpr="2"] .number span{
   font-size: 44px;
}
[data-dpr="4"] .number span{
    font-size: 66px;
}
.input-box{
    margin-top:0.4rem;
}
.input-inner{
    position: relative;
    width: 3.6rem;
    height: 1rem;
}
.input-inner .max-tip{
    color:#ccc;
    line-height: 1rem;
}
.input-inner input[type="tel"]{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    text-align: right;
}
.total{
    height: 0.8rem;
    margin-top:0.2rem;
    padding:0 0.4rem;
}
.total span{
    line-height: 0.8rem;
}
.total .total-money{
    float: right;
    font-size:15px;
    font-weight:400;
}
[data-dpr="2"] .total .total-money{
    font-size:30px;
}
[data-dpr="3"] .total .total-money{
    font-size:45px;
}
.total .total-money label{
    height: .6rem;
    margin-top:0.2rem;
}
.rules{
    padding:0 0.4rem 0.6rem;
    margin-top:0.2rem;
    text-align: right;
}
.rules a{
    text-decoration: underline;
}
input[type="checkbox"]{
    width: 0.4rem;
    height:0.4rem;
    margin-left:0.6rem;
    margin-right:0.2rem;
    margin-top:0.22rem;
    background: #eee;
    border:1px solid #ccc;
    border-radius:0.08rem;
}






